asgiref==3.7.2 ; python_full_version == "3.11.2"
beautifulsoup4==4.12.2 ; python_full_version == "3.11.2"
django-appconf==1.0.6 ; python_full_version == "3.11.2"
django-bootstrap-v5==1.0.11 ; python_full_version == "3.11.2"
django-compressor==4.4 ; python_full_version == "3.11.2"
django-libsass==0.9 ; python_full_version == "3.11.2"
django==4.2.7 ; python_full_version == "3.11.2"
libsass==0.22.0 ; python_full_version == "3.11.2"
python-dotenv==1.0.0 ; python_full_version == "3.11.2"
rcssmin==1.1.1 ; python_full_version == "3.11.2"
rjsmin==1.2.1 ; python_full_version == "3.11.2"
soupsieve==2.5 ; python_full_version == "3.11.2"
sqlparse==0.4.4 ; python_full_version == "3.11.2"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version == "3.11.2"
