asgiref==3.7.2 ; python_full_version == "3.11.2"
django==4.2.7 ; python_full_version == "3.11.2"
python-dotenv==1.0.0 ; python_full_version == "3.11.2"
sqlparse==0.4.4 ; python_full_version == "3.11.2"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version == "3.11.2"
