container_commands:
  01_migrate:
    command: |
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      source $PYTHONPATH/activate
      python ./manage.py migrate --noinput
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: hello_world_django.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hello_world_django.settings

packages:
  yum:
    git: []
